// COLORS
$OceanBlue: #00414B; // rgb(0,65,75);
$BronzeCOIN: #4B3000; // split-complementary contrast to $OceanBlue
$OxfordBlue: #001C4B; // analogous soothing palette to $OceanBlue
$BritishRacingGreen: #004B30; // analogous soothing palette to $OceanBlue
$AtlanticBlue: #155370; // rgb(21,83,112);
$antiqueBronze: #705F15; // rgb(112,95,21); // split-complementary contrast to $AtlanticBlue
$deepOceanBlue: #003C5F; // rgb(0,60,95);
$sealBrown: #5F2300; // rgb(95,35,0); // contrasting complement to $deepOceanBlue
$darkOceanBlue: #002B4D; // rgb(0,43,77);
$FrenchPuce: #4D2200; // rgb(77,34,0); // contrasting complement to $darkOceanBlue
$indigoOcean: #485479; // rgb(72,84,121);
$boyRed: #796D48; // rgb(121,109,72); // contrasting complement to $indigoOcean
$brownLeather: #593215; // medium leather BROWN
$paperBrown: #884E1F; // medium natural paper BROWN
$lightGREY: #D7D8D9; // warm light GREY
$darkGREY: #2D2D2D; // dark GREY
$lightTAN: #BF985A; // light TAN paper
$charcoalGREY: rgba(41,41,41,1); // #292929; medium charcoal GREY unobtrusive
$RobinHoodForestGREEN: #04460E; // Robin Hood forest GREEN
$RomanLegionaryRED: #880808; // Roman Legionary RED
$RomanLegionaryScutumCRIMSON: #712620; // Scutum shield CRIMSON
$RomanNavalBLUE: rgb(47,74,159); // #2f4a9f; Roman Naval dark BLUE
$RomanRepublicRichGOLD: #C99028; // Roman Republic rich GOLD
$RomanPatricianPURPLE: rgb(69,34,143); // #45228f;  Roman Senatorial Patrician Prætorian PURPLE
$TyrianPURPLE: #66023C; // Tyrian dye PURPLE
$ImperialPurple: #4B0041;
$ObsidianPURPLE: #442486;